<!doctype html>
<html lang="fr">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" 
        href="{{ url_for('static', filename='home.css') }}">
        <title>{{ title }}</title>
        {% block styles %}
<!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}

        {% endblock %}
        {% endblock %}

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Fixed navbar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      {% if not (current_user.is_authenticated) %}
                      <li class="nav-item">
                        <a class="login" href="{{ url_for('login')}}"><span title="login">login</a>
                      </li>
                      {% endif %}
                      {% if current_user.is_authenticated %}
                      <li><a class="user_text">{{ current_user.username }}</a></li>
                      <li><a class="user_text" href="{{ url_for('logout') }}" >
                        <span class="logout" title="Logout"
                        > logout </span ></a></li>
                      {% endif %}
                     
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </header>
        <h1>{{ title }}</h1>
        {% block main %}{% endblock %}
        <main class="flex-shrink-0">
            <div class="container">
                {% block content %}
                {% endblock %}
          </main>
          
          <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
              <span class="text-muted">Place sticky footer content here.</span>
            </div>
          </footer>
          {% block scripts %}
<!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
          
    </body>
</html>