{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='detail.css')}}">
{% endblock %}
{% block content %}
<h1>{{title}}</h1>
    <div class="sample">
        <h1>{{ b.title }}</b></h1>
        <img src="{{ url_for('static', filename='images/'+b.image)}}" alt="{{b.title}}" title="{{b.title}}">
        <ul>
            <li>Author {{ b.author }}</li>
            <li>Price {{ b.price }}</li>
            <li>URL : <a href="{{ b.url }}">lien</a></li>
            {% if current_user.is_authenticated %}
                <li><a class="user_text" href="{{ url_for('edit_author',id=b.id) }}" >
                    <span class="edit" title="Edit"
                    > edit nom autheur</span ></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}